@font-face {
    font-family: 'TanukiMagic';
    src: url(../img/TanukiPermanentMarker.ttf);
}

body {
    font-size: 20px;
    font-family: 'TanukiMagic', '華康粗圓體', '微軟正黑體';
    text-align: center;
    color: #FFF;
    background-color: #81C4E2;
}

.container-fluid {
    padding: 0px 0px;
    position: relative;
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.nav {
    position: fixed;
    width: 100%;
    height: 65px;
    z-index: 1000;
    font-size: 20px;
    display: flex;
    align-items: center;
    background-color: #5A8BBF;

}

.navbar-collapse {
    background-color: #5a8bbf7e;
}

.logo {
    width: 50px;
    padding: 1px;
}

ul {
    margin: 0;
    margin-left: auto;
    padding-right: 10px;
}

li {
    display: inline-block;
    margin-right: 10px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav {
    color: #FFF;
}


a {
    color: #FFF;
    text-decoration: none;
}

a:hover .nav-link:hover {
    color: #bdd8dc;
    font-weight: bold;
    text-decoration: none;
}

main {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.homepage {
    background-image: url(../img/main.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}

.enter {
    width: 100%;
    margin-top: -600px;
}

.e-btn {
    transform: rotate(20deg);
}

footer {
    background-color: #81C4E2;
    width: 100%;
    height: 100px;
    font-size: 10px;
    z-index: 100;
    text-align: left;
    color: #FFF;
    display: flex;
    align-items: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
}

.ft-text {
    margin-left: 20px;
    font-size: 16px;
    margin-bottom: 0;
}

/* course */

.course {
    background-image: url(../img/main-02.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}

.main-type {
    width: 100%;
    height: 150px;
}

.B-title {
    height: 100%;
}

.M-title {
    height: 120px;
}

.P-title {
    height: 100%;
}

.space {
    height: 100px;
}

.course-list {
    width: 100%;
    height: 150px;
    display: flex;

}

.L-btn {
    background-image: url(../img/L-btn.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    margin-bottom: 0;
}

.L-text {
    color: #5A8BBF;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 20px;
    margin-bottom: 0px;
    border-right: 1px solid #5A8BBF;
}

.L-text:hover {
    color: #5A8BBF;
    text-decoration: none;
}

.R-btn {
    background-image: url(../img/R-btn.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.R-text {
    color: #E07777;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    padding-right: 20px;
    border-right: 1px solid #E07777;
}

.R-text:hover {
    color: #E07777;
    text-decoration: none;
}

.feedback-row {
    width: 100%;
    height: 100px;
}

.feedback {
    height: 40%;
}

/* comment */
.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}

.tw-respond-info {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.input-group {
    width: 280px;
    margin: 10px 0px;
}

.input-group-text {
    background: transparent;
    border: none;
}

.textbox-group {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.textbox {
    overflow-x: hidden;
    overflow-wrap: break-word;
    background: transparent;
    border: 1px solid #000000;
    border-radius: 15px;
    margin-right: 10px;
}

.btn {
    height: 40px;
    border: 1px solid #000000;
    border-radius: 10px;
}

.comment-reply-btn {
    border: 1px solid #000000;
    padding: 5px;
    border-radius: 10px;
    margin-left: 50px;
}

.comment-list {
    list-style-type: none;
}

.comment-avatar {
    float: left;
}

.comment-avatar span {
    display: block;
    height: 55px;
    width: 55px;
    font-size: 28px;
    text-align: center;
}

.comment-right {
    margin: 15px 0px;
}

.comment-r-info {
    margin: 0 0 10px 0;
}

.comment-reply-time {
    font-size: 10px;
}

.comment-reply-author {
    font-weight: 600;
}

.comment-reply-id {
    font-weight: 600;
}

.topic-comments-formbox {
    width: 35%;
    margin-left: 50px;
}

.topic-comments-formbox .form-control {
    margin: 10px 0px;
}



@media (max-width: 600px) {
    .comment-r-info {
        border-bottom: 0px;
    }

    .comment-r-info span {
        margin: 0 10px 0 0;
        display: inline-block;
    }

    .topic-comments-formbox {
        width: 65%;
        margin-left: 50px;
    }

    .tw-respond-info {
        margin-left: 50px;
        justify-content: flex-start;
    }

    .textbox {
        margin-left: 15px;
    }
}