@font-face {
    font-family: 'TanukiMagic';
    src: url(../img/TanukiPermanentMarker.ttf);
}

body {
    font-size: 20px;
    font-family: 'TanukiMagic',  '微軟正黑體', '華康粗圓體';
    text-align: center;
    color: #FFF;
    background-color: #81c4e2;
}

ul {
    margin: 0;
    margin-left: auto;
    padding-right: 10px;
}

li {
    display: inline-block;
    margin-right: 10px;
}

a {
    color: #FFF;
}

a:hover {
    text-decoration: none;
}

.container-fluid {
    padding: 0px 0px;
    position: relative;
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    left: auto;
    right: 0;
    margin-top: -2px;
    background-color: rgba(129, 195, 226, 0.8);
    border: 0px;
}

.dropdown-item:hover {
    background-color: rgba(81, 153, 187, 0.8);
    color: white;
}

.dropdown-item:link {
    color: white;
}

.dropdown-item:visited {
    background-color: rgba(81, 153, 187, 0.8);
}

.nav {
    position: fixed;
    width: 100%;
    height: 65px;
    z-index: 1000;
    font-size: 20px;
    display: flex;
    align-items: center;
    background-color: #5A8BBF;
}

.navbar-collapse {
    background-color: #5a8bbf7e;
}

.logo {
    width: 50px;
    padding: 1px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav {
    color: #FFF;
}

.nav-link:hover {
    color: #bdd8dc;
    text-decoration: none;
}

.homepage {
    background-image: url(../img/main.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    position: relative;
}

.enter {
    width: 100%;
    position: absolute;
    top: 85px;
}

.e-btn {
    transform: rotate(20deg);
    min-width: 135px;
    width: 12%;

}

footer {
    font-family: '微軟正黑體';
    background-color: #81C4E2;
    width: 100%;
    height: 70px;
    font-size: 14px;
    z-index: 100;
    text-align: left;
    color: #FFF;
    display: flex;
    align-items: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
}

footer b span {
    position: absolute;
    right: 50px;
    top: 30px;
}

.ft-text {
    margin-left: 20px;
    margin-bottom: 0;
}

@media (max-width: 1200px) {
    .homepage {
        background-size: cover;
        background-position: 62% top;
    }

    footer b span {
        position: absolute;
        right: 10px;
        top: 5px;
    }
}

/* course */

.course {
    background-image: url(../img/main-02.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}

@media (max-width: 1200px) {
    .course {
        background-size: cover;
        background-position: left bottom;
    }
}

.cb-a {
    color: #FFF;
}

.cb-a:hover {
    color: rgb(37, 79, 124);
}

.cm-a {
    color: rgb(87, 133, 181);
}

.cm-a:hover {
    background-color: rgb(160, 144, 171);
    color: #FFF;
}

.cp-a {
    color: #FFF;
}

.cp-a:hover {
    background-color: rgb(250, 150, 150);
    color: rgb(192, 102, 96);
}

.main-type {
    width: 100%;
    height: 150px;
}

.B-btn {
    background-image: url(../img/B-btn.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.B-title {
    padding-bottom: 20px;
    font-size: 1.5vw;
}

.B-title:hover {
    color: #FFF;
}

.M-btn {
    height: 100px;
    background-image: url(../img/M-btn.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.M-title {
    font-size: 1.4vw;
    color: rgb(87, 133, 181);
}

.M-title:hover {
    color: rgb(87, 133, 181);
}

.m-bg {
    background-color: rgb(225, 217, 227, 0.6);
}

.P-btn {
    background-image: url(../img/P-btn.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.P-title {
    padding-bottom: 20px;
    font-size: 1.5vw;
}

.P-title:hover {
    color: #FFF;
}

.space {
    height: 100px;
}

.course-list {
    width: 100%;
    height: 150px;
    display: flex;
}

.L-btn {
    background-image: url(../img/L-btn.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.L-text {
    color: #5A8BBF;
    padding: 0px 10px;
    margin-bottom: 0px;
    border-right: 1px solid #5A8BBF;
    font-size: 1.3vw;
}

.L-text:hover {
    color: #5A8BBF;
    text-decoration: none;
}

.R-btn {
    background-image: url(../img/R-btn.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3vw;
}

.R-text {
    color: #E07777;
    margin-bottom: 0px;
    padding-right: 15px;
    border-right: 1px solid #E07777;
}

.R-text:hover {
    color: #E07777;
    text-decoration: none;
}

.p-bg {
    background-color: rgba(255, 183, 183, 0.8);
}

.feedback-row {
    width: 100%;
}

.feedback {
    height: 120%;
}

.course-phone {
    display: none;
}

/* 手機版 */
@media (max-width:768px) {
    .dropdown-menu {
        font-size: 2.5vw;
    }

    .course {
        display: none;
    }

    footer {
        height: 100px;
        font-size: 12px;
    }

    .course-phone {
        display: block;
        background-image: url(../img/cul-bg.jpg);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        padding: 150px 0;
        font-size: 20px;
    }

    .M-title {
        font-size: 30px;
    }

    .B-btn {
        margin: 50px 0;
    }

    .B-title {
        font-size: 30px;
        padding: 25px 25px 35px 25px;
    }

    .L-text {
        font-size: 3.5vw;
        padding: 0 20px;
    }

    .P-btn {
        margin: 50px 0;
    }

    .P-title {
        font-size: 30px;
        padding: 25px 25px 35px 25px;
    }

    .R-btn {
        font-size: 3.5vw;
    }

}

/* comment */
.contain {
    width: 80%;
    margin: 0 auto;
}

.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}

.tw-respond-info {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.input-group {
    width: 280px;
    margin: 10px 0px;
}

.input-group-text {
    background: transparent;
    border: none;
}

.textbox-group {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.textbox {
    overflow-x: hidden;
    overflow-wrap: break-word;
    background: transparent;
    border: 1px solid #000000;
    border-radius: 15px;
    margin-right: 10px;
}

.btn {
    height: 40px;
    border: 1px solid #000000;
    border-radius: 10px;
}

.comment-reply-btn {
    border: 1px solid #000000;
    padding: 5px;
    border-radius: 10px;
    margin-left: 50px;
    color: #5A8BBF;
}


.comment-area {
    width: 50%;
    height: 400px;
    color: #5A8BBF;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.comment-area::-webkit-scrollbar {
    display: none;
}

.comment-list {
    list-style-type: none;
    margin-left: 0;
}

.comment-li {
    display: block;
    text-align: left;
}

.comment-avatar {
    float: left;
}

.comment-avatar span {
    display: block;
    height: 55px;
    width: 55px;
    font-size: 28px;
    text-align: center;
}

.comment-right {
    margin: 15px 0px;
}

.comment-r-info {
    margin: 0 0 10px 0;
}

.comment-reply-time {
    font-size: 10px;
}

.comment-reply-author {
    font-weight: 600;
}

.comment-reply-id {
    font-weight: 600;
}

.topic-comments-formbox {
    width: 30vw;
    margin-left: 50px;
}

.topic-comments-formbox .form-control {
    margin: 10px 0px;
}


@media (max-width: 600px) {
    .comment-area {
        width: 90vw;
    }

    .comment-r-info {
        border-bottom: 0px;
    }

    .comment-r-info span {
        margin: 0 10px 0 0;
        display: inline-block;
    }

    .topic-comments-formbox {
        width: 70vw;
        margin-left: 50px;
    }

    .tw-respond-info {
        margin-left: 50px;
        justify-content: center;
    }

    .textbox {
        margin-left: 15px;
    }

}

/* windows */
.name {
    padding: 50px 50px;
    background-image: url(../img/M-btn.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 30px 0px;
    color: #fd8787;
    cursor: pointer;
}

.windows-mySlides {
    display: none;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 765px) {
    .windows-mySlides {
        width: 100%;
    }
}

.modal1 {
    display: none;
    position: fixed;
    z-index: 10009;
    padding-top: 120px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(80, 80, 80, 0.6);
}

.modal-content1 {
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    margin: auto;
    padding: 0;
    width: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column {
    margin-top: 50px;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.close-light {
    color: black;
    position: absolute;
    top: 70px;
    right: 25%;
    font-size: 40px;
    font-weight: bold;
    text-shadow: #F2E0C8 0px 0px 4px;
}

.close-light:hover,
.close-light:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.next {
    position: absolute;
    right: 20%;
    border-radius: 3px 0 0 3px;
    text-shadow: #F2E0C8 0px 0px 4px;
}

.prev {
    position: absolute;
    left: 20%;
    border-radius: 3px 0 0 3px;
    text-shadow: #F2E0C8 0px 0px 4px;
}

.prev:hover,
.next:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#car {
    width: 50vw;
}

.img-box {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: 20;
}

.closebtn {
    position: absolute;
    top: 100px;
    right: 100px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

@media screen and (max-width: 765px) {
    .close-light {
        right: 25px;
    }

    .next {
        right: -5px;
    }

    .prev {
        left: -5px;
    }
}

/* read */

.read-pdf {
    width: 60%;
    height: 650px;
}

/* poster */

.poster {
    width: 20%;
    margin-left: 50px;
    margin-right: 50px;
}

@media screen and (max-width: 1200px) {
    .poster {
        width: 40%;
        margin: 50px 0px;
    }

    #car {
        width: 75vw;
    }
}

@media screen and (max-width: 768px) {
    .poster {
        width: 80%;
        margin: 50px 0px;
    }
}

/* course01 */

.cul-bg {
    background-image: url(../img/cul-course-bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}

.course-row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coursr01-btn {
    height: 200px;
    background-image: url(../img/course01/title.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
}

.coursr02-btn {
    height: 200px;
    background-image: url(../img/course02/title.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
}

.coursr03-btn {
    height: 200px;
    background-image: url(../img/course03/title.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
}

.c-btn{
    height: 200px;
    background-image: url(../img/btn.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4vw;
    
}

.c1-text{
    color: #7F7F7F;
}

.c1-text:hover{
    color: #7F7F7F;
}

.ge-bg{
    background-image: url(../img/gender-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}

.coursr04-btn {
    height: 200px;
    background-image: url(../img/course04/title.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
}

.coursr05-btn {
    height: 200px;
    background-image: url(../img/course05/title.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
}

.coursr06-btn {
    height: 200px;
    background-image: url(../img/course06/title.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
}

/* html */

main {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p {
    margin: 0;
}