@font-face {
    font-family: 'TanukiMagic';
    src: url(../img/TanukiPermanentMarker.ttf);
}

body {
    font-size: 20px;
    font-family: 'TanukiMagic', '華康粗圓體', '微軟正黑體';
    text-align: center;
    color: #FFF;
    background-color: #81c4e2;
}

ul {
    margin: 0;
    margin-left: auto;
    padding-right: 10px;
}

li {
    display: inline-block;
    margin-right: 10px;
}

a {
    color: #FFF;
}

a:hover {
    text-decoration: none;
}

.container-fluid {
    padding: 0px 0px;
    position: relative;
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    left: auto;
    right: 0;
    margin-top: -2px;
    background-color: rgba(129, 195, 226, 0.8);
    border: 0px;
}

.dropdown-item:hover {
    background-color: rgba(81, 153, 187, 0.8);
    color: white;
}

.dropdown-item:link {
    color: white;
}

.dropdown-item:visited {
    color: white;
    background-color: rgba(81, 153, 187, 0.8);
}

.nav {
    position: fixed;
    width: 100%;
    height: 65px;
    z-index: 1000;
    font-size: 20px;
    display: flex;
    align-items: center;
    background-color: #5A8BBF;
}

.navbar-collapse {
    background-color: #5a8bbf7e;
}

.logo {
    width: 50px;
    padding: 1px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav {
    color: #FFF;
}

.nav-link:hover {
    color: #bdd8dc;
    text-decoration: none;
}

.homepage {
    background-image: url(../img/main.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}

.enter {
    width: 100%;
    margin-top: -600px;
}

.e-btn {
    transform: rotate(20deg);
}

footer {
    font-family: '微軟正黑體';
    background-color: #81C4E2;
    width: 100%;
    height: 70px;
    font-size: 10px;
    z-index: 100;
    text-align: left;
    color: #FFF;
    display: flex;
    align-items: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
}

.ft-text {
    margin-left: 20px;
    font-size: 14px;
    margin-bottom: 0;
}

/* course */

.course {
    background-image: url(../img/main-02.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}

.dropdown-img {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 80%;
    background-color: rgba(129, 195, 226, 0.8);
    min-width: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0px 0px 15px 15px;
    padding: 10px;
}

.dropdown-img:hover .dropdown-content {
    display: block;
}

.course-ul {
    padding: 0;
}

.course-li {
    margin: 0;
}

.course-li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.cb-a:hover {
    color: rgb(37, 79, 124);
}

.cm-a:hover {
    color: rgb(87,133,181);
}

.cp-a:hover {
    background-color: rgb(250, 150, 150);
    color: rgb(192, 102, 96);
}

.main-type {
    width: 100%;
    height: 150px;
}

.B-title {
    height: 100%;
}

.M-title {
    height: 120px;
}

.P-title {
    height: 100%;
}

.space {
    height: 100px;
}

.course-list {
    width: 100%;
    height: 150px;
    display: flex;
}

.L-btn {
    background-image: url(../img/L-btn.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.L-text {
    color: #5A8BBF;
    padding-right: 20px;
    margin-bottom: 0px;
    border-right: 1px solid #5A8BBF;
    font-size: 24px;
}

.L-text:hover {
    color: #5A8BBF;
    text-decoration: none;
}

.R-btn {
    background-image: url(../img/R-btn.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.R-text {
    color: #E07777;
    margin-bottom: 0px;
    padding-right: 15px;
    border-right: 1px solid #E07777;
}

.R-text:hover {
    color: #E07777;
    text-decoration: none;
}

.p-bg{
    background-color: rgba(255, 183, 183, 0.8);
}

.feedback-row {
    width: 100%;
    height: 100px;
}

.feedback {
    height: 30%;
}

/* comment */
.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}

.tw-respond-info {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.input-group {
    width: 280px;
    margin: 10px 0px;
}

.input-group-text {
    background: transparent;
    border: none;
}

.textbox-group {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.textbox {
    overflow-x: hidden;
    overflow-wrap: break-word;
    background: transparent;
    border: 1px solid #000000;
    border-radius: 15px;
    margin-right: 10px;
}

.btn {
    height: 40px;
    border: 1px solid #000000;
    border-radius: 10px;
}

.comment-reply-btn {
    border: 1px solid #000000;
    padding: 5px;
    border-radius: 10px;
    margin-left: 50px;
}

.comment-list {
    list-style-type: none;
}

.comment-avatar {
    float: left;
}

.comment-avatar span {
    display: block;
    height: 55px;
    width: 55px;
    font-size: 28px;
    text-align: center;
}

.comment-right {
    margin: 15px 0px;
}

.comment-r-info {
    margin: 0 0 10px 0;
}

.comment-reply-time {
    font-size: 10px;
}

.comment-reply-author {
    font-weight: 600;
}

.comment-reply-id {
    font-weight: 600;
}

.topic-comments-formbox {
    width: 35%;
    margin-left: 50px;
}

.topic-comments-formbox .form-control {
    margin: 10px 0px;
}



@media (max-width: 600px) {
    .comment-r-info {
        border-bottom: 0px;
    }

    .comment-r-info span {
        margin: 0 10px 0 0;
        display: inline-block;
    }

    .topic-comments-formbox {
        width: 65%;
        margin-left: 50px;
    }

    .tw-respond-info {
        margin-left: 50px;
        justify-content: flex-start;
    }

    .textbox {
        margin-left: 15px;
    }
}

/* html */

main {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p {
    margin: 0;
}